<h1>Welcome to MiniSubmarine!</h1>
<div class="content">
  <img src="/img/submarine.jpeg">
</div>
<div class="container title">
  <button><a href="/signin">Log in</a></button>
  <button><a href="/signup">Sign up</a></button>
  <a href="/records">Records</a>
</div>


  
