<h1>Winners Record</h1>

<div class="centerTable">
	<table class="hovertable">
		<!-- ¿Qué va en esta parte para mostrar la lista de ganadores? -->
		<tr>
			<th>Player</th>
			<th>Games won</th>
		</tr>
		<% @records.each do |player, games_won| %>
        	<tr>
        		<td><%= player %></td>
        		<td><%= games_won %></td>
        	</tr>
      	<% end %>


	</table>
</div>

<aside>
  <h3></h3>
  <form method="post" action="/new_game">
    <input type="submit" value="Play">
  </form>
</aside>